<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Main HandsOn servlet. Handles all requests from HandsOn application.-->
    <servlet>
        <servlet-name>srhandson</servlet-name>
        <servlet-class>server.MainServlet</servlet-class>
        <init-param>
            <param-name>AppName</param-name>
            <param-value>HandsOn Client SR</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>srhandson</servlet-name>
        <url-pattern>/srhandson/*</url-pattern>
    </servlet-mapping>
    
</web-app>
